.budget {
    border-width: 2px;
    border-color: black;
}

.explore .options-btn {
    width: 112px;
    height: 40px;
    border: 1px solid #dadbdd;
    background-color: #fff;
    margin-top: 1.1875em;
    margin-inline-end: 0.625em;
    border-radius: 4px;
    color: #404145;
    cursor: pointer;
    font-weight: bold;
}

.explore-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.explore-header {
    display: flex;
    align-items: center;
  
    .options-btn {
      margin-right: 10px; // Add margin between buttons
    }
  
    .pro-switch,
    .online-sellers-switch {
      display: flex;
      align-items: center;
  
      .switch-label {
        margin-right: 5px; // Add margin between the switch label and the switch
      }
    }
  }


  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $little_elements_green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $little_elements_green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switches {
    display: flex;
    align-items:end;
  }
  